# Environment variables
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual Environments
**/venv/
**/.venv/

# Uploads
LandRegistrationAPI/uploads/

# Java/Maven and general build output
target/
out/
*.class

# Node
node_modules/

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
